<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/stils.css">
    <title>Receptes</title>
</head>
<body>
    <h1>Vienkāršas receptes no interneta</h1>

    <img src="static/bildes/mazas-picinas_3980754929.jpg" alt="Piciņas">
    <ol>
        <li><a href="receptes/risu_bumbinas.html">Rīsu bumbiņas</a></li>
        <li><a href="receptes/mazas_picinas.html">Mazās piciņas</a></li>
    </ol>
    
</body>
</html>